body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ============================
            index css
    ============================
*/
.image-wrapper{
    text-align: center;
    
}

.image-wrapper img{
    max-width: 550px;
}

.heading-title{
    margin-top: 50px;
    margin-bottom: 80px;
}

.all-country-btn{
    margin-top: 80px;
    margin-bottom: 50px;
}

footer{
    color: #555;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* ============================
            countries css
    ============================
*/

.card-body .card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.cards-flag{
    max-width: 50px;
    height: 30px;
    object-fit: cover;
    border-radius: 3px;
}

.country-card{
    margin-bottom: 30px;
}

 .country-card p{
    margin-bottom: 5px;
}